@charset "UTF-8";
@font-face {
  font-weight: 400;
  font-family: "Roboto";
  src: url(/fonts/Roboto-Regular.ttf);
}
@font-face {
  font-weight: 700;
  font-family: "Roboto";
  src: url(/fonts/Roboto-Bold.ttf);
}
body {
  margin: 0;
  width: 100%;
  background-color: #08020D;
}

p,
h1,
h2,
h3,
li,
a {
  font-family: "Roboto", Arial, sans-serif;
  font-weight: 400;
  color: #CACACA;
  font-size: 16px;
  margin: 0;
}

p {
  line-height: 24px;
}

a {
  text-decoration: none;
}

h1 {
  font-size: 60px;
  line-height: 90px;
  font-weight: bold;
  text-transform: uppercase;
}

h2 {
  font-size: 38px;
  line-height: 57px;
  font-weight: bold;
  text-transform: uppercase;
}

h3 {
  font-size: 24px;
  line-height: 45px;
  text-transform: uppercase;
}

.content-width {
  width: 1200px;
}

.white {
  color: #FFF;
}

.orange {
  color: #F89202;
}

.brown {
  color: #95390C;
}

.grey {
  color: #E0E0E0;
}

.bg-purple {
  background-color: #5328A1;
}

.bg-brown {
  background-color: #95390C;
}

.small-text {
  font-size: 12.8px;
  line-height: 1.5;
}

.btn {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 66px;
  padding: 20px 30px;
  border: 1px solid #FFF;
  border-radius: 5px;
}

section, footer {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* padding: 200px 0; */
  width: 100%;
}

.content {
  width: 1200px;
  position: relative;
}

.flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.flex-row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.flex-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.bg-gradient {
  background: linear-gradient(89.75deg, #5328a1 32.83%, #95390c 81.56%);
}
.bg-gradient hr {
  height: 2px;
  width: 100vw;
  border: none;
  background-color: #CACACA;
}

footer {
  padding: 0;
}
footer a {
  line-height: 24px;
}

.footer-body {
  padding: 3rem 0;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 40px;
  text-align: start;
}
.footer-body ul {
  list-style: none;
  padding: 0;
  margin: 0 0 1em;
}

.social-media {
  display: grid;
  grid-template-columns: repeat(2, min-content);
  grid-template-rows: 16px;
  column-gap: 24px;
}

.footer-header {
  font-size: 18px;
  line-height: 27px;
  font-weight: bold;
  text-transform: uppercase;
  margin: 0.83em 0;
}

.mobile-bottom-margin {
  margin-bottom: 19px;
}

.footer-bottom {
  align-self: flex-start;
  padding: 2rem 0;
  display: grid;
  grid-template-columns: repeat(5, auto);
  column-gap: 16px;
  margin-bottom: 1em;
}

@media (max-width: 415px) {
  h1 {
    font-size: 30px;
    line-height: 45px;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 47px;
  }
  h2 {
    font-size: 18px;
    line-height: 27px;
    font-weight: bold;
    text-transform: uppercase;
  }
  .content {
    width: 100%;
    position: relative;
    padding-right: 20px;
    padding-left: 20px;
    box-sizing: border-box;
  }
  .flex-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-items: unset;
  }
  .flex-row {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-items: unset;
  }
  .footer-body {
    grid-template-columns: auto;
    grid-template-rows: repeat(4, auto);
    row-gap: 30px;
    padding-bottom: 67px;
  }
  .footer-body ul {
    margin: 0;
  }
  .footer-header {
    margin: 0 0 16px;
  }
  .mobile-top-margin {
    margin-top: 0.83em;
  }
  .mobile-bottom-margin {
    margin-bottom: 19px;
  }
  .footer-bottom {
    grid-template-columns: auto;
    grid-template-rows: repeat(5, auto);
    row-gap: 16px;
    text-align: start;
  }
}
.header {
  position: absolute;
  z-index: 1;
  display: flex;
  justify-content: center;
  margin-top: 25px;
  width: 100%;
}
.header p,
.header li,
.header a {
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 700;
}

.music-box {
  display: grid;
  grid-template-columns: min-content max-content;
  column-gap: 16px;
  margin-right: 90px;
}
.music-box img {
  height: 24px;
}

.menu > ul {
  display: grid;
  grid-template-columns: repeat(4, auto);
  column-gap: 24px;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.search input {
  background-color: #3C3B3D;
  border-radius: 50px;
  padding: 0;
  width: 248px;
  height: 35px;
  border: none;
  text-indent: 10px;
}

.search input::placeholder {
  font-family: "Arial";
  color: #757575;
}

@media (max-width: 415px) {
  .menu > ul {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: repeat(4, auto);
    row-gap: 3px;
    padding-left: 0;
    margin: 17px 0 18px;
  }
  .menu > ul li {
    line-height: 12.89px;
  }
  .search {
    margin-left: 0;
  }
  .search input {
    background-color: #3C3B3D;
    border-radius: 50px;
    padding: 0;
    width: 100%;
    height: 25px;
    border: none;
    text-indent: 10px;
  }
}
#page-description {
  padding-top: 200px;
  padding-bottom: 200px;
  /* эксперимент  */
  display: flex;
  justify-content: center;
  width: 100%;
}

.section-1 {
  background-image: url(../images/banner.png);
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100%;
}
.section-1 p {
  margin: 31px 0 17px;
  line-height: 24px;
}

.form {
  display: grid;
  grid-template-columns: min-content;
  grid-template-rows: min-content;
  column-gap: 24px;
}
.form input {
  min-height: 50px;
  min-width: 273px;
  text-indent: 20px;
  border: 2px solid #cacaca;
  border-radius: 3px;
  background: none;
  box-sizing: border-box;
  margin-bottom: 1.5rem;
}
.form button {
  padding: 20px 30px;
  border-radius: 5px;
  border: none;
  background-color: #34C176;
  color: #FFF;
  grid-column: span 2;
  min-height: 57px;
}
.form input::placeholder {
  font-family: "Roboto";
  color: #FFF;
  /* font-weight: bold; */
  font-size: 14px;
}

@media (max-width: 415px) {
  .form {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: repeat(3, auto);
    width: 100%;
  }
  .form input {
    min-height: 50px;
    text-indent: 20px;
    border: 2px solid #cacaca;
    border-radius: 3px;
    background: none;
    box-sizing: border-box;
  }
  .form button {
    padding: 20px 30px;
    border-radius: 5px;
    border: none;
    background-color: #34C176;
    color: #FFF;
    height: 61px;
  }
  .form input:nth-child(1) {
    grid-column-start: 1;
    grid-row-start: 1;
  }
  .form input:nth-child(2) {
    grid-column-start: 1;
    grid-row-start: 2;
  }
  .form button {
    grid-column-start: 1;
    grid-row-start: 3;
  }
  .section-1 p {
    margin-top: 16px;
    margin-bottom: 16px;
  }
  /* #page-description p {
      margin-top: 16px;
      margin-bottom: 16px;
  } */
}
#page-pricing {
  padding-top: 100px;
  padding-right: 20px;
  padding-left: 20px;
  /* эксперимент  */
  /* display: flex; */
  justify-content: center;
  /* width: 100%; */
}

.cards {
  margin: 45px 0 43px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 50px;
}

.pricing-item {
  box-sizing: border-box;
  border-radius: 1rem;
  padding: 24px 1.5rem 64px 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.pricing-item h3 {
  line-height: 36px;
}

.price-container {
  display: grid;
  grid-template-columns: repeat(2, min-content);
  grid-template-rows: auto;
  column-gap: 16px;
  margin: 200px 0 40px;
}

.pricing-coin {
  font-size: 32px;
  text-transform: uppercase;
  line-height: 48px;
}

.pricing-value {
  font-size: 64px;
  line-height: 1em;
}

.pricing-footer {
  font-size: 12.8px;
  line-height: 1.5em;
  margin-top: 64px;
}

.bg-1 {
  background-image: url(../images/subscribe_1.png);
  background-size: cover;
  /* background-position: center; */
  height: 100%;
  width: 100%;
}

.bg-2 {
  background-image: url(../images/subscribe_2.png);
  background-size: cover;
  /* background-position: center; */
  height: 100%;
  width: 100%;
}

.bg-3 {
  background-image: url(../images/subscribe_3.png);
  background-size: cover;
  /* background-position: center; */
  height: 100%;
  width: 100%;
}

@media (max-width: 415px) {
  .cards {
    margin: 45px 0 43px;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: repeat(3, auto);
    row-gap: 50px;
  }
  .pricing-item h3 {
    font-size: 16px;
    font-weight: bold;
    line-height: 24px;
  }
  .pricing-item {
    padding-top: 16px;
  }
}
#page-news {
  padding-top: 100px;
  padding-right: 20px;
  padding-left: 20px;
  /* эксперимент  */
  /* display: flex; */
  justify-content: center;
  /*  width: 100%; */
}

.news-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-items: unset;
  column-gap: 50px;
}
.news-item:nth-child(2) {
  margin: 48px 0 65px;
}

.news-body {
  text-align: start;
  align-items: flex-start;
  margin-bottom: 24px;
}
.news-body h3 {
  font-size: 30px;
  line-height: 45px;
  font-weight: normal;
  margin-bottom: 30px;
}

.news-footer {
  align-items: flex-start;
}

.news-author {
  display: grid;
  grid-template-columns: auto auto auto;
  column-gap: 16px;
  margin-bottom: 48px;
}

.album {
  border: 1px solid #CACACA;
  padding: 16px 30px;
  width: unset;
  height: unset;
}

.flex-left {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-items: flex-start;
}

@media (max-width: 415px) {
  .news-item {
    display: grid;
    grid-template-rows: auto auto;
    row-gap: 50px;
    width: 100%;
  }
  .news-item h3 {
    font-size: 16px;
    line-height: 24px;
    font-weight: normal;
    text-transform: capitalize;
    margin-bottom: 16px;
  }
  .news-item img {
    grid-row-start: 1;
    width: 100%;
  }
  .news-item .flex-left {
    grid-row-start: 2;
  }
  .news-body {
    margin-bottom: 16px;
  }
  .margin-mobile-24 {
    margin-bottom: 24px;
  }
}
#page-app {
  padding-top: 100px;
  margin-bottom: 100px;
  padding-right: 20px;
  padding-left: 20px;
  /* эксперимент  */
  /* display: flex; */
  justify-content: center;
  /* width: 100%; */
}

.app {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 48px;
}
.app img {
  margin-left: 144px;
}

.app-body {
  text-align: start;
}
.app-body p {
  margin: 16px 0;
}

.oval {
  width: min-content;
  height: unset;
  padding: 16px 40px;
  border: none;
  border-radius: 32px;
  background-color: #95390C;
}

@media (max-width: 415px) {
  .app {
    grid-template-columns: 100%;
    grid-template-rows: auto auto;
  }
  .app img {
    grid-row-start: 1;
    margin-left: unset;
    justify-self: center;
  }
}
.artist-description {
  background-image: url("../images/Morten Harket.png");
  background-position: center;
  background-size: cover;
  /* padding: 200px 0; */
}

.artist-main {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  text-align: left;
}
.artist-main h1 {
  margin: 16px 0 50px;
}

.artist-main-button {
  display: grid;
  grid-template-columns: min-content auto;
  grid-template-rows: 20px;
  column-gap: 16px;
  width: 200px;
  height: 62px;
  border: none;
  text-transform: uppercase;
  align-content: center;
  justify-content: unset;
}
.artist-main-button img {
  height: 100%;
  filter: invert(1);
}

.two-buttons {
  display: grid;
  grid-template-columns: min-content min-content;
  grid-template-rows: auto;
  column-gap: 1.5rem;
  row-gap: 1.5rem;
  margin: 48px 0 23px;
}

@media (max-width: 415px) {
  .artist-main h1 {
    font-size: 30px;
    line-height: 45px;
    margin: 25px 0 0;
  }
  .artist-main > p {
    margin-bottom: 0;
    margin-top: 16px;
  }
  .two-buttons {
    grid-template-columns: min-content;
    grid-template-rows: auto auto;
  }
}
#page-popular-track {
  padding-top: 100px;
  padding-right: 20px;
  padding-left: 20px;
  justify-content: center;
}
#page-popular-track h2 {
  align-self: flex-start;
}
#page-popular-track h3 {
  font-size: 12.8px;
  line-height: 19.2px;
  font-weight: bold;
}

.track-list {
  width: 100%;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(3, auto);
  column-gap: 50px;
  row-gap: 25px;
  padding-right: 50px;
  margin-top: 48px;
}

.popular-track {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 15px;
}
.popular-track img {
  width: 55px;
}

.track-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}

.track-name {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-items: flex-start;
}

@media (max-width: 415px) {
  #page-popular-track h2 {
    font-size: 18px;
    font-weight: bold;
    line-height: 27px;
  }
  .track-list {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, auto);
    padding: 0;
  }
}
#page-discography {
  padding-top: 100px;
  padding-right: 20px;
  padding-left: 20px;
  justify-content: center;
}
#page-discography h2 {
  align-self: flex-start;
}

.album-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, auto);
  column-gap: 50px;
  row-gap: 25px;
  box-sizing: border-box;
  width: 100%;
  padding-right: 50px;
  margin-top: 48px;
}

.album-element {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: start;
  align-items: flex-start;
}
.album-element img {
  width: 250px;
}
.album-element h3 {
  font-size: 18px;
  line-height: 27px;
  margin-top: 18px;
  text-transform: capitalize;
}

@media (max-width: 415px) {
  #page-discography h2 {
    font-size: 18px;
    font-weight: bold;
    line-height: 27px;
  }
  .album-list {
    grid-template-columns: repeat(2, min-content);
    grid-template-rows: repeat(3, auto);
    padding: 0;
  }
  .album-element img {
    width: 137px;
  }
}
#page-similar {
  padding-top: 100px;
  margin-bottom: 100px;
  padding-right: 20px;
  padding-left: 20px;
  justify-content: center;
}
#page-similar h2 {
  align-self: flex-start;
}

.similar-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.similar-item img {
  width: 250px;
}
.similar-item h3 {
  font-size: 18px;
  line-height: 27px;
  margin-top: 18px;
  text-transform: capitalize;
}

.similar-info h3 {
  font-weight: bold;
}

@media (max-width: 415px) {
  #page-similar h2 {
    font-size: 18px;
    font-weight: bold;
    line-height: 27px;
  }
  .similar-item img {
    width: 137px;
  }
}

/*# sourceMappingURL=app.css.map */
