#page-popular-track {
    padding-top: 100px;

    & h2 {
        align-self: flex-start;
    }

    & h3 {
        font-size: 12.8px;
        line-height: 19.2px;
        font-weight: bold;
    }
}

.track-list {
    width: 100%;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, auto);
    column-gap: 50px;
    row-gap: 25px;
    padding-right: 50px;
    margin-top: 48px;
}

.popular-track {
    @include flex(row);
    column-gap: 15px;

    & img {
        width: 55px;
    }

}

.track-info {
    @include flex(row);
    width: 100%;
    justify-content: space-between;
}

.track-name {
    @include flex(column);
    align-items: flex-start;
}

@media (max-width: 415px) {
    #page-popular-track h2 {
        font-size: 18px;
        font-weight: bold;
        line-height: 27px;
    }

    .track-list {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6, auto);
        padding: 0;
    }
}