#page-pricing {
    padding: 100px 0 0;
}

.cards {
    margin: 45px 0 43px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 50px;
}

.pricing-item {
    box-sizing: border-box;
    border-radius: 1rem;
    padding: 24px 1.5rem 64px 1.5rem;
    @include flex(column);

    & h3 {
        line-height: 36px;
    }
}

.price-container {
    display: grid;
    grid-template-columns: repeat(2, min-content);
    grid-template-rows: auto;
    column-gap: 16px;
    margin: 200px 0 40px;
}

.pricing-coin {
    font-size: 32px;
    text-transform: uppercase;
    line-height: 48px;
}

.pricing-value {
    font-size: 64px;
    line-height: 1em;
}

.pricing-footer {
    font-size: 12.8px;
    line-height: 1.5em;
    margin-top: 64px;
}

.bg-1 {
    background-image: url(../images/subscribe_1.png);
    background-size: cover;
    background-position: center;
    height: 100%;
    width: 100%;
}

.bg-2 {
    background-image: url(../images/subscribe_2.png);
    background-size: cover;
    background-position: center;
    height: 100%;
    width: 100%;
}

.bg-3 {
    background-image: url(../images/subscribe_3.png);
    background-size: cover;
    background-position: center;
    height: 100%;
    width: 100%;
}

@media (max-width: 415px) {
    .cards {
        margin: 45px 0 43px;
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: repeat(3, auto);
        row-gap: 50px;
    }

    .pricing-item h3 {
        font-size: 16px;
        font-weight: bold;
    }
}